<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="'Create ' + ${entityName}"></title>
</head>
<body>
<h1 th:text="'Create ' + ${entityName}"></h1>

<th:block layout:fragment="content">
    <form th:action="${actionUrl}" method='post' enctype='multipart/form-data'>
        <div th:each="field : ${fields}">
            <label th:for="${field.name}" th:text="${field.label}" class="capitalize text-lg"></label>
            <div th:switch="${field.type}">
                <div th:case="'text'">
                    <div th:replace="~{fragments/inputs/inputs :: textInput(${field})}"></div>
                    <div>
                         <span th:if="${validationErrors != null and validationErrors.containsKey(field.name)}"
                               th:text="${validationErrors[field.name]}"
                               style="color:red;">
                         </span>
                    </div>
                </div>

                <div th:case="'textarea'">
                    <div th:replace="~{fragments/inputs/inputs :: textareaInput(${field})}"></div>
                    <div>
                         <span th:if="${validationErrors != null and validationErrors.containsKey(field.name)}"
                               th:text="${validationErrors[field.name]}"
                               style="color:red;">
                         </span>
                    </div>
                </div>
                <div th:case="'checkbox'">
                    <div th:replace="~{fragments/inputs/inputs :: checkboxInput(${field})}"></div>
                    <div>
                         <span th:if="${validationErrors != null and validationErrors.containsKey(field.name)}"
                               th:text="${validationErrors[field.name]}"
                               style="color:red;">
                         </span>
                    </div>
                </div>
                <div th:case="'select'">
                    <div th:replace="~{fragments/inputs/inputs :: selectInput(${field})}"></div>
                    <div>
                         <span th:if="${validationErrors != null and validationErrors.containsKey(field.name)}"
                               th:text="${validationErrors[field.name]}"
                               style="color:red;">
                         </span>
                    </div>
                </div>
                <div th:case="'searchable-select'">
                    <div th:replace="~{fragments/inputs/inputs :: searchSelectInput(${field})}"></div>
                    <div>
                         <span th:if="${validationErrors != null and validationErrors.containsKey(field.name)}"
                               th:text="${validationErrors[field.name]}"
                               style="color:red;">
                         </span>
                    </div>
                </div>
                <div th:case="'number'">
                    <div th:replace="~{fragments/inputs/inputs :: numberInput(${field})}"></div>
                    <div>
                         <span th:if="${validationErrors != null and validationErrors.containsKey(field.name)}"
                               th:text="${validationErrors[field.name]}"
                               style="color:red;">
                         </span>
                    </div>
                </div>
                <div th:case="'email'">
                    <div th:replace="~{fragments/inputs/inputs :: emailInput(${field})}"></div>
                    <div>
                         <span th:if="${validationErrors != null and validationErrors.containsKey(field.name)}"
                               th:text="${validationErrors[field.name]}"
                               style="color:red;">
                         </span>
                    </div>
                </div>
                <div th:case="'password'">
                    <div th:replace="~{fragments/inputs/inputs :: passwordInput(${field})}"></div>
                    <div>
                         <span th:if="${validationErrors != null and validationErrors.containsKey(field.name)}"
                               th:text="${validationErrors[field.name]}"
                               style="color:red;">
                         </span>
                    </div>
                </div>
                <div th:case="'color'">
                    <div th:replace="~{fragments/inputs/inputs :: colorInput(${field})}"></div>
                    <div>
                         <span th:if="${validationErrors != null and validationErrors.containsKey(field.name)}"
                               th:text="${validationErrors[field.name]}"
                               style="color:red;">
                         </span>
                    </div>
                </div>
                <div th:case="'file'">
                    <div th:replace="~{fragments/inputs/inputs :: fileInput(${field})}"></div>
                    <div>
                         <span th:if="${validationErrors != null and validationErrors.containsKey(field.name)}"
                               th:text="${validationErrors[field.name]}"
                               style="color:red;">
                         </span>
                    </div>
                </div>
                <div th:case="'time'">
                    <div th:replace="~{fragments/inputs/inputs :: timeInput(${field})}"></div>
                    <div>
                         <span th:if="${validationErrors != null and validationErrors.containsKey(field.name)}"
                               th:text="${validationErrors[field.name]}"
                               style="color:red;">
                         </span>
                    </div>
                </div>
                <div th:case="'date'">
                    <div th:replace="~{fragments/inputs/inputs :: dateInput(${field})}"></div>
                    <div>
                         <span th:if="${validationErrors != null and validationErrors.containsKey(field.name)}"
                               th:text="${validationErrors[field.name]}"
                               style="color:red;">
                         </span>
                    </div>
                </div>
                <div th:case="'datetime'">
                    <div th:replace="~{fragments/inputs/inputs :: dateTimeInput(${field})}"></div>
                    <div>
                         <span th:if="${validationErrors != null and validationErrors.containsKey(field.name)}"
                               th:text="${validationErrors[field.name]}"
                               style="color:red;">
                         </span>
                    </div>
                </div>
                <div th:case="'range'">
                    <div th:replace="~{fragments/inputs/inputs :: rangeInput(${field})}"></div>
                    <div>
                         <span th:if="${validationErrors != null and validationErrors.containsKey(field.name)}"
                               th:text="${validationErrors[field.name]}"
                               style="color:red;">
                         </span>
                    </div>
                </div>
                <div th:case="'tel'">
                    <div th:replace="~{fragments/inputs/inputs :: telInput(${field})}"></div>
                    <div>
                         <span th:if="${validationErrors != null and validationErrors.containsKey(field.name)}"
                               th:text="${validationErrors[field.name]}"
                               style="color:red;">
                         </span>
                    </div>
                </div>
                <div th:case="'url'">
                    <div th:replace="~{fragments/inputs/inputs :: urlInput(${field})}"></div>
                    <div>
                         <span th:if="${validationErrors != null and validationErrors.containsKey(field.name)}"
                               th:text="${validationErrors[field.name]}"
                               style="color:red;">
                         </span>
                    </div>
                </div>
                <div th:case="'wysiwyg'">
                    <div th:replace="~{fragments/inputs/inputs :: wysiwygInput(${field})}"></div>
                    <div>
                         <span th:if="${validationErrors != null and validationErrors.containsKey(field.name)}"
                               th:text="${validationErrors[field.name]}"
                               style="color:red;">
                         </span>
                    </div>
                </div>
                <div th:case="'embedded'">
                    <div th:replace="~{fragments/inputs/inputs :: embeddedInput(${field})}"></div>
                    <div>
                         <span th:if="${validationErrors != null and validationErrors.containsKey(field.name)}"
                               th:text="${validationErrors[field.name]}"
                               style="color:red;">
                         </span>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit">Save</button>
    </form>

</th:block>

</body>
</html>
