<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="bulkActions(entityName)" id="bulkAction" class=" text-white flex items-center gap-5 my-5"
     th:attr="data-entity-name=${entityName}">
   <div class="bg-blue-500 rounded p-2 shadow flex items-center justify-center" id="closeBulkAction">
      X
   </div>

   <div class="bg-blue-500 rounded p-2 shadow flex items-center gap-4">
      <button onclick="performBulkAction('Delete')">Delete Selected</button>
      <button onclick="performBulkAction('Export')">Export Selected</button>
<!--      <button onclick="performBulkAction('export', ${entityName})">Duplicate Selected</button>-->
<!--      <button onclick="performBulkAction('export', ${entityName})">Print Selected</button>-->
   </div>

</div>
</body>
</html>
