<div th:fragment="navbar-container" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="flex items-center justify-between px-4 py-3 ">
        <button class="p-2" id="menu-toggle">☰</button>

        <div class="flex items-center gap-5">
            <!-- Notifications Icon -->
            <span class="me-3 relative">
                <a class="btn btn-link relative" id="notifications-icon" th:href="notifications">
                   <img th:src="@{/images/notification.png}" alt="Logo" width="30px" height="30px" class="object-cover">
                </a>
            </span>

            <!-- User Avatar -->
            <span class="me-3" style="width:30px;height:30px;overflow:hidden;border-radius:50%;">
            <img class="user-avatar w-full h-full object-cover"
                 th:alt="${loggedinUser.name}" th:attr="onerror=|this.onerror=null;this.src='@{/images/person.png}';|"
                 th:src="${loggedinUser.avatar}"/>
            </span>

        </div>
    </nav>
</div>
