<!DOCTYPE html>
<html lang="en" layout:decorate="~{kraft-layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${entityName} + ' Details'">Entity Details</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="p-6">
        <h1 class="text-3xl font-bold text-gray-800 mb-8" th:text="${entityName} + ' Details'">Entity Details</h1>
        <div th:if="${item}">
            <div class="flex flex-col gap-6" th:each="entry : ${item}">
                <div class="p-5 bg-white rounded-md shadow-md" th:each="field : ${fieldNames}">
                    <div class="text-lg text-gray-600 font-semibold mb-1" th:text="${field}">Field Name</div>
                    <div th:with="displayField=${entry.get(field)}">
                        <div th:replace="~{kraft-fragments/displays/display-field :: render(${displayField})}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center text-red-500 text-lg" th:if="${item == null}">
            <h3 th:text="${entityName} + ' not found'">Entity not found</h3>
        </div>

        <!-- Action Buttons -->
        <!--        <div class="mt-10 flex justify-between">-->
        <!--            <a th:href="@{/admin/crud/{entityName}(entityName=${entityName})}"-->
        <!--               class="inline-block bg-gray-200 text-gray-700 px-4 py-2 rounded hover:bg-gray-300 transition">-->
        <!--                ← Back to List-->
        <!--            </a>-->

        <!--            <a th:href="@{/admin/crud/{entityName}/edit/{id}(entityName=${entityName}, id=${item.get(primaryKey)?.value})}"-->
        <!--               class="inline-block bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition">-->
        <!--                Edit-->
        <!--            </a>-->
        <!--        </div>-->
    </div>
</th:block>
</body>

</html>
