<div th:fragment="navbar-container" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="flex items-center justify-between px-4 py-3">
        <button class="btn btn-primary" id="menu-toggle">☰</button>

        <div class="flex items-center gap-5">
            <!-- Notifications Icon -->
            <span class="me-3 relative">
                <a class="btn btn-link relative" id="notifications-icon" href="#">
                   <img th:src="@{/images/notification.png}" alt="Logo" width="30px" height="30px" class="object-cover">
<!--                    <span class="absolute top-0 right-0 bg-red-500 text-white text-xs rounded-full px-1">3</span>-->
                </a>
            </span>

            <!-- User Avatar -->
            <span class="me-3" style="width:30px;height:30px;overflow:hidden;border-radius:50%;">
    <img class="user-avatar w-full h-full object-cover"
         th:src="@{'/images/users/' + ${loggedinUser.id} + '.jpg'}"
         th:alt="${loggedinUser.name}"
         th:attr="onerror=|this.onerror=null;this.src='@{/images/person.png}';|">
</span>

        </div>
    </nav>
</div>
