<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{kraft-layout}">
<head>
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<main class="content" style="min-height:100vh">
    <th:block layout:fragment="content">
        <!--        analytics overview -->
        <fieldset class="rounded border mb-2  w-full overflow-y-scroll">
            <legend class="p-2 ml-5 text-lg">Analytics Overview</legend>
            <div class="p-4 b-2">
                <div th:replace="~{kraft-fragments/analytics/analytics-overview :: analytics-overview(${components})}"></div>
                <div th:replace="~{kraft-components/coming-soon :: coming-soon-container}"></div>
            </div>
        </fieldset>

        <!-- Monitoring overview -->
        <fieldset class="rounded border mb-2 w-full overflow-y-scroll">
            <legend class="p-2 ml-5 text-lg">Application Health & Monitoring</legend>
            <div class="p-4 b-2">
                <div th:replace="~{kraft-components/coming-soon :: coming-soon-container}"></div>
            </div>
        </fieldset>

        <div class="flex items-center gap-5 mt-5">
            <!--          Traffic Summary  -->
            <fieldset class="w-full p-4 rounded shadow bg-white">
                <h3>Traffic Summary</h3>
                <div class="p-4 b-2">
                    <div th:replace="~{kraft-components/coming-soon :: coming-soon-container}"></div>
                </div>
            </fieldset>

            <!--          Traffic Summary  -->
            <fieldset class="w-full p-4 rounded shadow bg-white">
                <h3>Locations</h3>
                <div class="p-4 b-2">
                    <div th:replace="~{kraft-components/coming-soon :: coming-soon-container}"></div>
                </div>
            </fieldset>
        </div>
    </th:block>
</main>
</body>
</html>
