<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title} ?: 'Kraft Admin'">Kraft Admin</title>
  <link th:href="@{/css/kraft.css}" th:rel="stylesheet">
</head>

<body class="bg-slate-300">

<!-- Wrapper -->
<div class="flex">

  <!-- Sidebar -->
  <div th:replace="~{kraft-components/sidebar :: sidebar-container}"></div>

  <!-- Page Content  -->
  <div class="flex-1 flex flex-col w-full">

    <!-- Top Navbar -->
    <div class="sticky top-0 bg-white shadow-md z-40 w-full">
      <div th:replace="~{kraft-components/navbar :: navbar-container}"></div>
    </div>

    <!-- Main Content -->
    <!--        <main class="flex-1 p-4 overflow-y-hidden">-->
    <div class="flex flex-col transition-all duration-300 p-4 w-full" id="main">
      <h3 class="ws-data"></h3>
      <div id="loader" class="fixed inset-0 flex items-center justify-center bg-white z-50">
        <div class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-32 w-32"></div>
      </div>
      <div th:replace="~{kraft-components/snackbar :: toast-container}"></div>
      <th:block layout:fragment="content"></th:block>
    </div>

    <!--        </main>-->

  </div>
</div>

  <script defer th:src="@{/js/script.js}" type="module"></script>
<script defer th:src="@{/js/bulkActions.js}" type="module"></script>
<script defer th:src="@{/js/datatable.js}" type="module"></script>
<script defer th:src="@{/js/dragDrop.js}" type="module"></script>
<script defer th:src="@{/js/wysiwyg.js}" type="module"></script>
<script defer th:src="@{/js/formUtils.js}" type="module"></script>
  <script defer th:src="@{/js/dropdown.js}" type="module"></script>
<script defer th:src="@{/js/websocket.js}" type="module"></script>
<script defer th:src="@{/js/analytics.js}" type="module"></script>
<script defer th:src="@{/js/error.js}" type="module"></script>
</body>
</html>
