<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title} ?: 'Kraft Admin'">Kraft Admin</title>
  <link th:href="@{/css/app.css}" th:rel="stylesheet">
</head>

<body class="bg-slate-300">

<!-- Wrapper -->
<div class="flex">

  <!-- Sidebar -->
      <div th:replace="~{components/sidebar :: sidebar-container}"></div>

  <!-- Page Content (shifted to the right of sidebar) -->
  <div class="flex-1 flex flex-col">

    <!-- Top Navbar -->
    <div class="sticky top-0 bg-white shadow-md z-40">
      <div th:replace="~{components/navbar :: navbar-container}"></div>
    </div>

    <!-- Main Content -->
    <main class="flex-1 p-4 overflow-y-hidden">
      <h3 class="ws-data test-classes">Hello from websocket</h3>
      <div class="bg-red text-white p-4">Tailwind is working!</div>
      <div id="loader" class="fixed inset-0 flex items-center justify-center bg-white z-50">
        <div class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-32 w-32"></div>
      </div>
      <div th:replace="~{components/snackbar :: toast-container}"></div>
      <th:block layout:fragment="content"></th:block>
    </main>

  </div>
</div>

<script th:src="@{/js/script.js}" defer></script>
<script defer th:src="@{/js/bulkActions.js}" type="module"></script>
<script defer th:src="@{/js/datatable.js}" type="module"></script>
<script defer th:src="@{/js/dragDrop.js}" type="module"></script>
<script defer th:src="@{/js/wysiwyg.js}" type="module"></script>
<script defer th:src="@{/js/formUtils.js}" type="module"></script>
<!--<script th:src="@{/js/main.js}" defer></script>-->
<script defer th:src="@{/js/dropdown.js}"></script>
<script defer th:src="@{/js/websocket.js}" type="module"></script>
<script defer th:src="@{/js/analytics.js}" type="module"></script>
</body>
</html>
